.modal__form {
    border: 2px solid white;
    border-radius: 10px;
    min-width: 20rem;
    margin: 4rem;
    height: fit-content;
}

.modal__h1 {
    color: rgb(255 255 255);
    text-align: center;
} 

.modal__close-btn {
    height: 2.7rem;
    width: 2.7rem;
    font-size: 1.7rem;
    color: rgb(205, 205, 205);
    background: transparent;
    border: none;
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.modal__close-btn:hover {
    color: rgb(146, 146, 146);
    cursor: pointer;
}

.modal__close-btn:active {
    color: rgb(112, 112, 112);
    cursor: pointer;
}

